.email-assistant h1 {
    font-weight: bold;
    font-size: larger;
    text-align: left;
  }
  

.email-assistant {
    width: 100%;
}

  /* Add more CSS as per design requirements */
  
/* EXPANDABLE SECTION */

