.email-assistant h1 {
    font-weight: bold;
    font-size: larger;
    text-align: left;
  }
  

.email-assistant {
    width: 100%;
    background-color: #F0F3F7;
    margin-top: 20px;
    box-sizing: border-box;
    padding: 20px;
}

  /* Add more CSS as per design requirements */
  
/* EXPANDABLE SECTION */

