openai
pydantic
pydantic_settings
fastapi
uvicorn
psycopg2-binary
requests
pandas
tabulate
pre-commit
detect-secrets
sqlalchemy
uuid
alembic
bs4
python-multipart
pydantic[email]
jupyterlab
tiktoken
ipywidgets
aiogram
gspread
oauth2client
tqdm
langchain
langchainhub
redis
aioredis